body {
color: #5D1E44;
font-family: "Open Sans", "Sans Serif";
font-size:18px;
}

.label {
    display: inline;
    padding: .1em .3em .1em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

h1 {
font-size: 30px;
}

p {
font-size: 20px;
}

.vcenter {
     display: flex;
    align-items: center;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
padding-top:20px;
padding-bottom:20px;
}

img {
    max-width: 100%;
    height: auto;
}

#spacer {
height:50px;
}

#spacertop {
height:100px;
}

#content {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
height:10px;
}

.btn {
color:white;
background:#5D1E44;
}

.feature img {
width: 200px;
height: 200px;
border: 1px solid #A9A3A3;
border-radius: 10%;
background-color:white;
}

.blog {
    max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 100%;
        display: block;
    font-weight:300;
    color:black;
}

.blog p {
    letter-spacing:2px;
}

.feature p {
    font-weight:300;
    letter-spacing:1px;
    margin-top:10px;
}
.wrapper {
    background-color: #F4F4F4;
}

#startlisbon{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14409538/5e23851a-ff16-11e5-9a27-26b5f732f996.jpg");
background-attachment:fixed;
}

#startlisbon3{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14653771/d3647b2a-067a-11e6-9d82-ff0b55844048.jpg");
background-attachment:fixed;
}

#startlisbon4{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14753695/4242df92-08d7-11e6-8719-6d8beffb8619.jpg");
background-attachment:fixed;
}

#startlisbon5{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14921448/97c48d16-0e32-11e6-8660-83f5a7bf0edf.jpg");
background-attachment:fixed;
}

#startlisbon6{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14967187/67303ea8-10b6-11e6-81f5-0911424b7bab.jpg");
background-attachment:fixed;
}

#startlisbon7{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/15228487/b39967d2-188c-11e6-9048-fb4dfbb7215d.jpg");
background-attachment:fixed;
}

#startlisbon8{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/15403612/22d16b32-1dfa-11e6-803a-5f1374c89c05.png");
background-attachment:fixed;
}

#startlisbon9{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/15431089/9cb3838c-1ea8-11e6-864b-34e2042b056a.jpg");
background-attachment:fixed;
}

#startlisbon10{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/15517005/c3fdacd8-21f5-11e6-8f2f-be6c48d039c5.jpg");
background-attachment:fixed;
}

#startlisbon11{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/15629509/82d793b8-251a-11e6-994f-82e0c1be0904.jpg");
background-attachment:fixed;
}

#home:hover{
    opacity:0.5;
    color:#5D1E44;
	transform: scale(1.2);
   	-webkit-transform: scale(1.2);
   }

#home {
	transition-property: transform;
	-webkit-transition-property: transform;
    transition-duration: .5s;
	transition-timing-function: ease-out;
	}

#startlisbon2{
padding-top:100px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("https://cloud.githubusercontent.com/assets/18250643/14409455/0840a9fe-ff14-11e5-9b89-80c12a0a11a4.JPG");
background-attachment:fixed;
}

#startlisbon h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon3 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon4 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon5 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon6 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon7 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon8 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon9 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon10 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon11 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon2 p {
background:rgba(82, 150, 214, 0.4);
display:inline-block;
}

#startlisbon p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}


#startlisbon3 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon4 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon5 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon6 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon7 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon8 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon9 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon10 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon11 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#mc_embed_signup {
    padding-top:30px;
}

#aboutme img { 
width: 200px;
height: 200px;
border: 1px solid #A9A3A3;
border-radius: 50%;
transform: rotate(90deg);
}

#aboutme  {
text-align:center;
}


.nav a {
    font-weight:300;
    letter-spacing:1px;
    text-transform:uppercase;
}

.nav-pills {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    width: 100%;
    text-transform: none;
    display: block;
    font-family : "Open Sans", "Sans Serif";
} 

.navbar-default{
    background-color: white
}

#velo {
    margin-left: 10px
}

.nav a{
    color: black;
}

#map {
    padding-top:30px;
    text-align:center;
}

#footer {
background-color: #CCCCCC;
font-size:20px;
color:black;
text-align: center;
}

#footer li {
    font-weight:300;
    letter-spacing:2px;
    font-size:20px;
    color:black;   
}

#footer a {
font-weight:300;
color:black;
font-size:20px
}

#title {
    padding-bottom:10px;
    color:black;
    font-size:20px;
}

#titleroute {
    padding-bottom:20px;
    color:black;
    font-size:25px;
    text-transform:uppercase;
}





