body {
color: #5D1E44;
font-family: "Open Sans", "Sans Serif";
font-size:18px;
}

.label {
    display: inline;
    padding: .1em .3em .1em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

h1 {
font-size: 30px;
}

h2 {
font-size: 30px;
}
h3 {
font-size: 30px;
}
h4 {
font-size: 30px;
}


p {
font-size: 18px;
}

.vcenter {
     display: flex;
    align-items: center;
}

ul {
list-style:lower-norwegian;
margin-left:0;
padding-left:;
padding-top:5px;
padding-bottom:5px;
}

img {
    max-width: 100%;
    height: auto;
}

#spacer {
height:50px;
}

#spacertop {
height:100px;
}

#content {
text-indent:100%;
white-space:nowrap;
overflow:hidden;
height:10px;
}

.btn {
color:white;
background:#5D1E44;
}

.feature img {
width: 200px;
height: 200px;
border: 1px solid #A9A3A3;
border-radius: 10%;
background-color:white;
}

#start {
width: 60px;
height: 60px;
border: 1px solid;
margin-right: 10px;
margin-top: 10px;
border-radius: 50%;
background-color:white;
}

.blog {
    max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 100%;
        display: block;
    font-weight:300;
    color:black;
}

.blog p {
    letter-spacing:2px;
    padding-bottom:10px;
    padding-top:25px;
}

.blog h1 {
    padding-top:10px;
    padding-bottom:10px
}

.blog h2 {
    padding-top:10px;
    padding-bottom:10px
}

.feature p {
    font-weight:300;
    letter-spacing:1px;
    margin-top:10px;
}
.wrapper {
    background-color: #F4F4F4;
}


#startblog{
padding-top:100px;
background-size:cover;
height:300px;
text-align: center;
background-image: url("/Images/departure-min.jpg");
background-attachment:fixed;
}


#startlisbon{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/departure-min.jpg");
background-attachment:fixed;
}

#berlindresden{
padding-top:175px;
background-size:cover;
height:500px;
text-align: center;
background-image: url("/Images/berlindresden-min.JPG");
background-attachment:fixed;
}

#fahrradroute1{
padding-top:100px;
background-size:cover;
height:500px;
text-align: center;
background-image: url("/Images/arriving-min.jpg");
background-attachment:fixed;
}

#startlisbonf{
padding-top:100px;
background-size:cover;
height:300px;
text-align: center;
background-image: url("/Images/departure-min.jpg");
}

#randovelo{
padding-top:100px;
background-size:cover;
height:400px;
text-align: center;
background-image: url("/Images/arriving2-min.png");
background-attachment: fixed;
}

#fahrradcodierung{
padding-top:100px;
background-size:cover;
height:300px;
text-align: center;
background-image: url("/Images/polizei.jpeg");
}

#locationdevelo{
padding-top:100px;
background-size:cover;
height:300px;
text-align: center;
background-image: url("/Images/veloloc.jpg");
}


#liepnitzsee{
padding-top:130px;
background-size:cover;
height:500px;
text-align: center;
background-image: url("/Images/liepnitzsee.jpg");
}


#loire{
padding-top:75px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/loire-min.png");
}


#cyclotourisme{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url(/Images/cyclotourisme-allemagne.JPG);
background-attachment:fixed;
}

#link{
border-bottom: 3px solid rgba(106,216,106,0.6);
-webkit-box-shadow: inset 0 -8px 0 rgba(106,216,106,0.55);
box-shadow: inset 0 -8px 0 rgba(106,216,106,0.55);
-webkit-transition: background .2s ease;
transition: background .2s ease;
height: 31px;
font-size: 29px;
display: inline-block;
font-size: 22px;
color: #5E5757;
font-weight: 700;
outline: 0;
text-decoration: none;
}


#startlisbon3{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/asparjusfield-min.webp");
background-attachment:fixed;
}

#startlisbon4{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/thuringen-min.webp");
background-attachment:fixed;
}

#startlisbon5{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/plainealsace-min.jpg");
background-attachment:fixed;
}

#startlisbon6{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/doubs-min.webp");
background-attachment:fixed;
}

#startlisbon7{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/creuse-min.webp");
background-attachment:fixed;
}

#startlisbon8{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/basket-min.webp");
background-attachment:fixed;
}

#startlisbon9{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/castilla-min.webp");
background-attachment:fixed;
}

#startlisbon10{
padding-top:175px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/arriving-min.webp");
background-attachment:fixed;
}

#startlisbon11{
padding-top:175px;
background-size:cover;
height:1000px;
text-align: center;
background-image: url("/Images/arrived-min.jpg");
background-attachment:fixed;
}

#berlinstrasbourg{
padding-top:80px;
background-size:cover;
height:400px;
text-align: center;
background-attachment:fixed;
background-image: url("/Images/berlinstrasbourg-min.webp");
}

#strasbourghendaye{
padding-top:80px;
background-size:cover;
height:400px;
text-align: center;
background-image: url("/Images/jura-min.webp");
background-attachment:fixed;
}

#hendayelisbon{
padding-top:80px;
background-size:cover;
height:400px;
text-align: center;
background-image: url("/Images/lisbon-min.webp");
background-attachment:fixed;
}


#summary{
padding-top:80px;
background-size:cover;
height:400px;
text-align: center;
background-image: url("/Images/34steps-min.webp");
background-attachment:fixed;
}

#home:hover{
    opacity:0.5;
    color:#5D1E44;
}

.gallery img:hover{
    opacity:0.5;
    color:#5D1E44;
    width: 350px;
}

#startlisbon2{
padding-top:100px;
background-size:cover;
height:600px;
text-align: center;
background-image: url("/Images/batardoplage-min.JPG");
background-attachment:fixed;
}

#berlinstrasbourg h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#berlindresden h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#loire h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#randovelo h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#fahrradroute1 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.2);
display:inline-block;
margin-bottom:25px;
}

#strasbourghendaye h2 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#fahrradrouteh1{
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#strasbourghendaye h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}


#hendayelisbon h3 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#hendayelisbon h2 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}


#summary h4 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#summary h2 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#berlinstrasbourg h2 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}


#startlisbon h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startblog h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon2 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbonf h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#locationdevelo h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon3 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#cyclotourisme h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon4 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon5 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon6 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon7 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon8 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon9 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon10 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#startlisbon11 h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background:rgba(0,0,0,0.4);
display:inline-block;
margin-bottom:25px;
}

#fahrradcodierung h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
display:inline-block;
margin-bottom:25px;
}

#liepnitzsee h1 {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
display:inline-block;
margin-bottom:25px;
}

#berlinstrasbourg p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}


#fahrradroute1 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startblog p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#strasbourghendaye p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#hendayelisbon p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#summary p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon2 p {
background:rgba(82, 150, 214, 0.4);
display:inline-block;
}

#startlisbon p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}


#startlisbon3 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon4 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon5 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon6 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon7 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon8 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon9 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon10 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#startlisbon11 p {
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
letter-spacing:2px;
}

#mc_embed_signup {
    padding-top:30px;
}

#aboutme img { 
width: 200px;
height: 200px;
border: 1px solid #A9A3A3;
border-radius: 50%;
transform: rotate(90deg);
}

#aboutme  {
text-align:center;
}


#velo {
    margin-left: 10px;
    padding-top: 20px;
}

#flag {
    width:30px;
    height:15px;
    padding-right: 5px;
}


#map {
    padding-top:30px;
    text-align:center;
}

#intro {
background-color: #F4F4F4;
font-size:20px;
color:black;
}


#footer {
background-color: #F4F4F4;
font-size:20px;
color:black;
text-align: center;
}

#footer2 {
font-size:15px;
color:black;
text-align: center;
padding:20px;
}



#footer li {
    list-style: none;
    font-weight:300;
    letter-spacing:2px;
    font-size:20px;
    color:black;   
}

#footer a {
font-weight:300;
color:black;
font-size:20px
}


#thxlist {
    width:70px;
    height:70px;
    margin-right: 15px;
}    

#thxlistshawo {
    width:60px;
    height:60px;
    margin-right: 15px;
    margin-left: 5px;
}    


#thxlistlogo {
    width:55px;
    height:55px;
    margin-right: 20px;
    margin-left: 10px;

}    

#maminette {
    font-size: 20px;
    background-color: rgba(106,216,106,0.6);
    display: inline-block;
} 

.blog li {
    list-style:none;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}  

#blogf  {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}  

#liststyled  {
    list-style: lower-alpha;
}  



#blogj  {
    list-style: square;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    padding-left:20px;
}  


#merci {
    background-color: #F4F4F4;

}  

#mapa {
    }  

.table, th, td {
    padding: 5px;
    text-align: left;
    color:black;
    max-width: 800px;
}

#plan {
    list-style: square;
    padding-right: 15px;
    padding-top:1px;
    padding-bottom:1px;
}

#checkmark {
    list-style-image: url("/Images/chekmark.jpg");
}



#checkmark div.box {
    display:inline-block;
    vertical-align: top;

}    

#crossmark {
    list-style-image: url("/Images/crossmark.jpg")
}

#crossmark div.box {
    display:inline-block;
    vertical-align: top;

} 

#h100px {
    height:100px;
}

#h150px {
    height:150px;
}

#h300px {
    height:300px;
}

/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar p {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
    color: #3b5998;
}
.fa-facebook-official:hover {
    background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}
.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
    color: #dd4b39;
}
.fa-google-plus:hover {
    background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
    color: #cb2027;
}
.fa-pinterest-p:hover {
    background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
    color: #32506d;
}
.fa-tumblr:hover {
    background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}
.fa-reddit-alien:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}
.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}
.fa-envelope:hover {
    background-color: #444444;
}

.container2 {
  border-radius: 6px;
  background: white;
  padding: 0 30px 0 30px;
  margin: 30px auto;
  position: relative
}

/* Default to hide the video on all devices */
#video{display:none}

/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100%;}

#fullScreenDiv{
    width:100%;
    min-height: 100%; 
   /* Set the height to match that of the viewport. */
    height: 600px;
    width: auto;
    padding:0!important;
    margin: 0!important;
    background-color: white;
    position: relative;
}
#video{    
    width: 100vw; 
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  #video{
    height: 150%;
    top: -100%;
  }
  #videosubstitute{
    display:block;
    width: 100%;
    height: auto;}
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: 150%;
    left: -100%;
  }
  #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}   

/* The container for our text and stuff */
#messageBox{
    position: absolute;  top: 0;  left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    }

#messageBox h1{
color: white;
text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);
background-color:#00da57;
display:inline-block;
margin-bottom:25px;
}

#radbahn{
color: white;
text-decoration: underline;
background-color: #00da57;
padding-top: 10px;
}

.nav a {
    font-weight:300;
    letter-spacing:1px;
    text-transform:uppercase;
}

.navbar-default{
    background-color: white;
     width: 100%;
  text-align: center;
  border: 0px;
}

#date{
 font-size: 14px;
}

#rouelibre{
 background-color: rgba(106,216,106,0.6);
 height: 300px;
}

#rouelibre h1 {
font-size:360%;
font-weight:700px;
text-align: center;
margin-top: 100px;
color: white;
}

#rouelibre p {
color: white;
text-align: center;
margin-bottom:25px;
}

.badge
{
text-shadow: 2px, 2px rgba(106,216,106,0.6);
}

#materiel{
    background-image: url("/Images/santarem_PT-min.JPG");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    }
