---
category: blog
layout: default-fr
title: "Blog sur mon voyage à vélo de Berlin à Lisbonne"
description: "Étape par étape, de Berlin à Lisbonne, 3.300 kilomètres de randonnée à vélo."
---

 
<div class="container" id="startlisbonf">
      <div class="row">
      <div class="col-xs-12">
        <h1>En route à vélo d'Allemagne au Portugal</h1>  
          </div>
        </div>
      </div>
     

     <div id="spacertop">
     </div>

      <div class="container blog" align="center">

        {% for post in site.posts %}

     <div class="row vcenter">
         <div class="col-sm-4">

    {% if post.title == 'Départ de Berlin Südkreuz' %}
 <img class="" src="/Images/berlinstrasbourg.JPG" alt="screen departsolenne" width="150">
 

  {% elsif post.title == 'Vents et crevaisons' %}
 <img class="" src="https://cloud.githubusercontent.com/assets/18250643/14654111/5b7ddd8e-067c-11e6-9d8b-fbc2275c8c42.jpg" alt="crevaisons" width="150">
 

  {% elsif post.title == 'Berlin - Leipzig en 2 jours' %}
  <img class="" src="https://cloud.githubusercontent.com/assets/18250643/14654650/096e6100-067f-11e6-98c6-09b4e2a126d0.jpg" alt="berlin_leipzig" width="150">


 {% elsif post.title == 'Traversée du land de Thuringe' %}
 <img class="" src="https://cloud.githubusercontent.com/assets/18250643/14753714/5b8bd29c-08d7-11e6-9ff2-706bc4367ae4.jpg" alt="land_de_thuring" width="150">


  {% endif %}

</div>

<div class="col-sm-8">
    <span>{{ post.date | date_to_string }}</span>&raquo; <a href="{{ post.url }}">{{ post.title }}</a>
   <p>{{ post.description }}</p>
 </div>
 </div>

 <div id="spacer">
 </div>

   {% endfor %}

    </div>
