---
category: blog
layout: default-fr
title: "Blog sur mon voyage à vélo de Berlin à Lisbonne"
description: "Étape par étape, de Berlin à Lisbonne, 3.300 kilomètres de randonnée à vélo."
---

 
<div class="container" id="startlisbonf">
      <div class="row">
      <div class="col-xs-12">
        <h1>En route à vélo d'Allemagne au Portugal</h1>  
          </div>
        </div>
      </div>
     

 <div class="container blog" align="center" id="">
  <div class="row">
    <div class="col-xs-12">


  <ul class="posts">
    {% for post in site.posts %}
    
   <section>
    {% if post.title == 'Départ de Berlin Südkreuz' %}
 <img class="inline pull-left" src="/Images/berlinstrasbourg.JPG" alt="screen departsolenne" width="150">


  {% endif %}
      <li id="blogf"><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
   <p id="blogf">{{ post.description }}</p>

  </section>

     {% endfor %}
  </ul>
     
     
      </div>
      </div>
      </div>

    
