---
title: 'Location de vélo en libre service à Berlin'
description: 'Devenu sans-vélo-fixe, j’utilise nextbike et autres vélos en libre service pour me déplacer dans Berlin. Avantages et inconvénients: voici le compte-rendu.'
category: amp/roue-libre
lang: fr
layout: default-amp
tags: [ Urbanisme, Tourisme, Location de vélo ]
last_modified_at:  18.05.2021
sitemap: false
available: disponible
---


<div class="container blog" align="center">
    <br>
<p>Dans cet article actualisé le {{page.last_modified_at | date: "%d-%m-%Y"}}, vous trouverez les informations
    suivantes :</p>

<ul id="intro">
<li id="plan"><a href="#equivalents">Quels sont les équivalents au vélib à Berlin ?</a></li> 
<li id="plan"><a href="#choisir">Comment choisir ?</a></li>
<li id="plan"><a href="#location">Où louer un vélo à Kreuzberg ?</a></li>
<li id="plan"><a href="#velo-electrique">Y-a-t'il des applications pour vélos éléctriques aussi ?</a></li>
</ul>


<h1>Tout est plus libre à Berlin, même les vélos</h1>
<p>Tout est plus libre à Berlin, les vélos aussi. À la différence d’une capitale comme Paris par exemple
    où vélib a lontgtemps régné sur son monopole, de nombreux loueurs se sont lancés dans la location
    de vélos en libre service à Berlin.
    Il existe donc plusieurs équivalents au vélib, d'où la question que vous vous posez désormais :
    <strong>lequel choisir ?</strong></p>

<h2 id="#equivalents">Les applications pour la location de vélo en libre service à Berlin:</h2>
    <ul id="intro">
        <li id="plan"><amp-img src="/Images/dblidl.png" alt="db call a bike" width="50" height="50" style="vertical-align:middle; margin-bottom:15px; margin-right:5px "></amp-img> Lidl Bike
        </li>
        <li id="plan"><amp-img src="/Images/deezernextbike.png" alt="db call a bike" width="50" height="50" style="vertical-align:middle; margin-bottom:5px; margin-right:5px "></amp-img> Nextbike
        </li>
        <li id="plan"><amp-img src="/Images/limebike.png" alt="db call a bike" width="50" height="50" style="vertical-align:middle; margin-bottom:; margin-right:5px "></amp-img> Limebike
        </li>
        <li id="plan"><amp-img src="/Images/donkeyrepublic.png" alt="db call a bike" width="50" height="50" style="vertical-align:middle; margin-bottom:5px; margin-right:5px "></amp-img> Donkey Republic
        </li>
    </ul>


<h2 id="choisir">Quels vélos choisir ?</h2>

<p>Parfois « sans vélo fixe »,
    j’utilise des vélos en libre service pour me déplacer sur Berlin.
    Je vous donne dans cet article mon avis sur mes différentes expériences, qui j’espère vous seront utiles dans le
    choix de votre location de vélo à Berlin.
    J’ai utilisé les vélos de <strong>Mobike et Nextbike</strong> dans
    des déplacements dans les quartiers <strong>Kreuzberg, Friedrichshain et Neukölln.</strong>.<br>
    <strong>++Update++</strong><br>
    En novembre 2020, le prestataire Mobike a fait faillite et a depuis retiré ses vélos de Berlin.
</p>

<table class="table" align="center">
  <thead>
      <tr>
        <th></th>
        <th><amp-img src="/Images/deezernextbike.png" alt="db call a bike" width="50" height="50" style="vertical-align:middle;margin-left: 5px; margin-top: 5px; margin-bottom: 5px"></amp-img> NEXT BIKE</th>
        </tr>
      </thead>


<tbody>
      <tr>
        <td>Tarif horaire</td>
        <td><strong>2,50€</strong><br/>1€ les premières 30 min. puis 1,5€</td>
      </tr>

  <tr>
        <td>Tarif journée</td>
        <td><strong>9€</strong> pour 24 heures</td>
      </tr>

  <tr>
        <td>Abonnement mensuel</td>
        <td>Non disponible</td>
      </tr>

  <tr>
        <td>Abonnement annuel</td>
        <td><strong>48€</strong></td>
      </tr>

  <tr>
        <td>Réservation possible?</td>
        <td>Non</td>
      </tr>

  <tr>
        <td>Application</td>
        <td>0/10<br>Nouvelle update ne fonctionne pas sur mon iPhone (SE)</td>
      </tr>

  <tr>
        <td>Couverture</td>
        <td>7/10</td>
      </tr>

  <tr>
        <td>Confort</td>
        <td><strong>8/10</strong></td>
      </tr>

  <tr>
  <td>Restitution du vélo dans une station</td>
        <td><strong>Oui</strong>, sinon 0,50€ seront facturés</td>
      </tr>

  <tr>
        <td>Possibilité de mettre en pause la location</td>
        <td>Non</td>
      </tr>

  <tr>
        <td>Service clients</td>
        <td>9/10<br>Radidement joignable, en anglais et allemand</td>
      </tr>

  <tr>
        <td>Présence dans d'autres villes</td>
        <td>9/10<br>Oui, disposnible avec le même abo. dans d'autres villes</td>
      </tr>

  <tr>
        <td>Fabriqués en</td>
        <td>Allemagne</td>
      </tr>

  <tr>
        <td>État</td>
        <td><strong>7/10</strong><br></td>
      </tr>


</tbody>
</table>

<p id="synthese">En synthèse</p>
<ul id="intro">
  
<li id="plan">De manière générale, les vélos en libre service sont <strong>idéals pour de petits déplacements</strong>, 1 ou 2 kilomètres, maximum 20/30 minutes. <strong>Si vous prévoyez de balader vers les lacs par exemple, pensez à d'autres alternatives.</strong></li>
<li id="plan">Ces <strong> vélos sont assez peu confortables</strong> et pas toujours en bon état, surtout les vélos Mobike.</li>
<li id="plan"><strong>Le prix est intéressant dans les deux cas</strong>. Même si nextbike est moins cher à la minute, 0,50€ peuvent être facturés si le vélo n’est pas restitué en station. Au final cela revient donc au même.</li>
<li id="plan"><strong>mobike est plus flexible</strong>, on trouve des vélos de partout et on peut les laisser où on veut.</li>
<li id="plan">Les vélos mobike n'avancent pas car pour la grande majorité d'entre eux, ils n'ont pas de vitesse.</li>
<li id="plan">Les vélos mobike sont souvent en mauvais état. Problèmes récurrents : selle bloquée, trop basse.</li>
</ul> 


<h2 id="location">Location de vélo à Kreuzberg</h2>
    <p>Je loue le vélo ci-dessous. Si vous êtes intéressés, écrivez-moi sur insta @berlinlisbonexpress,
    je réponds sous 24 heures. Ce vélo est actuellement
        {% for post in site.posts %}
        {% if post.url contains 'amp' %}
        {{ post.available }}
        {% endif %}
        {% endfor %}
    </p>
    <amp-img src="/Images/loc-velo-kreuzberg-1.JPG" width="125px" height="100px" layout="responsive" alt="loc velo kreuzberg pare boue"></amp-img>
    <br>
    <amp-img src="/Images/loc-velo-kreuzberg-3.JPG" width="125px" height="100px" layout="responsive" alt="loc velo kreuzberg pédalier"></amp-img>
    <br>
    <amp-img src="/Images/loc-velo-kreuzberg-2.JPG" width="125px" height="100px" layout="responsive" alt="loc velo kreuzberg selle"></amp-img>
    <br>
    <amp-img src="/Images/loc-velo-kreuzberg-4.JPG" width="125px" height="100px" layout="responsive" alt="loc velo kreuzberg"></amp-img>
    <ul id="intro">
        <li id="plan">Vélo dame taille max. 1,75m</li>
        <li id="plan">Cadre vintage Hercules acier</li>
        <li id="plan">Singlespeed</li>
        <li id="plan">Frein avant et rétropédalage</li>
        <li id="plan">Dynamo roue avant pour éclairage avant et arrière</li>
        <li id="plan">Pare boue avant et arrière</li>
        <li id="plan">Porte bagage arrière</li>
        <li id="plan">10€/jour ou 40€/ semaine</li>
    </ul>


<h3 id="velo-electrique">Vélo éléctrique en libre service à Berlin</h3>
    <p>Oui, il existe aussi un service de vélo éléctrique disponible à Berlin avec l'application LimeBike.</p>
    <ul id="intro">
        <li id="plan">Application Lime disponible sur iOS et Android</li>
        <li id="plan">Vitesse maximum du vélo de 25km/h</li>
        <li id="plan">Tarif de 1€ par location puis 0,15€/ minute</li>
    </ul>

</div>






