
<nav class="navbar navbar-expand-lg navbar-light container" style="max-width:900px">
  <a href="/blog/de/"><img src="/Images/mano.png" width="100px" style="margin-left:10px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-auto" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="link" href="/blog/de/">Blog<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="linknav" href="/fahrradroute.html">Fahrradroute</a>
      </li>
    </ul>
  </div>
      </div>
    <div class="collapse navbar-collapse mx-auto order-3" id="navbarText">
      <a href="https://www.buymeacoffee.com/cycleman/e/121896" rel="nofollow" target="_blank">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
             style="height: 45px !important;width: 150px !important;" ></a>
  </div>
</nav>

