
<nav class="navbar navbar-expand-lg navbar-light container" style="max-width:900px">
  <a class="navbar-brand" href="/"><img src="/Images/mano.png" width="100px" style="margin-left:10px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-auto" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="link" href="/rando-velo/">Randonnées vélo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="linknav" rel="nofollow" href="/materiel/">Matériel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="linknav" href="/roue-libre/">Roue libre</a>
      </li>
    </ul>
  </div>
      </div>
    <div class="collapse navbar-collapse mx-auto order-3" id="navbarText">
         {% include btn-buy-me-coffee.html %}
      </div>
</nav>

    