
<nav class="navbar navbar-expand-lg navbar-light container style="background-colour: white">
  <a class="navbar-brand" href="/"><img src="/Images/mano.png" width="80px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-auto" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/rando-velo/">Randonnées vélo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" rel="nofollow" href="/materiel/">Matériel</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="link" href="/roue-libre/">Roue libre<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      <img src="/Images/mano.png" width="180px">
    </span>
  </div>
</nav>

    