---
category: blog
layout: default-de
title: "Meine Fahrradreisen in Europa"
description: "Routen, Tipps, GPS-Tracks : Berichte eines Fahhrad-Verückten"
lang: de
ref: index
---

 
<div class="container" id="startlisbonf">
      <div class="row">
      <div class="col-xs-12">
        <h1>Mit dem Fahrrad durch Europa</h1>  
          </div>
        </div>
      </div>
     

     <div id="spacertop">
     </div>

      <div class="container blog" align="center">

       {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}

     <div class="row vcenter">
         <div class="col-sm-4">

    {% if post.title == 'Radweg von Karlsruhe nach Straßburg' %}
<img class="" src="https://batardo.github.io/Images/IMG_0128.JPG" alt="über den Rhein mit der Fähre" width="150">

  {% endif %}

</div>

<div class="col-sm-8">
    <span>{{ post.date | date_to_string }}</span>&raquo; <a href="{{ post.url }}">{{ post.title }}</a>
   <p id="blogf">{{ post.description }}</p>
   <a href="{{ post.url }}" id="blogf">Artikel lesen</a>
 </div>
 </div>

 <div id="spacer">
 </div>

   {% endfor %}

    </div>

