---
category: blog
layout: default-de
title: "Meine Fahrradreisen in Europa"
description: "Routen, Tipps, GPS-Tracks : Berichte eines Fahhrad-Verückten"
lang: de
ref: index
---

 
<div class="container" id="startlisbonf">
      <div class="row">
      <div class="col-xs-12">
        <h1>Mit dem Fahrrad durch Europa</h1>  
          </div>
        </div>
      </div>
     

     <div id="spacertop">
     </div>

      <div class="container-fluid blog" align="center">



       {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}

     <div class="row vcenter">
         <div class="col-md-4 col-sm-12">

    {% if post.title == 'Radweg von Karlsruhe nach Straßburg' %}
<img class="" src="https://batardo.github.io/Images/ferry-min.JPG" alt="über den Rhein mit der Fähre" width="300">
          
           {% elsif post.title == 'Fahrradcodierung und Registrierung in Deutschland' %}
<img class="" src="https://batardo.github.io/Images/Gravur.jpg" alt="gravur" width="300">
          
              {% elsif post.title == 'Radweg von Berlin zum Liepnitzsee - Schnell und schön zum See fahren.' %}
<img class="" src="https://batardo.github.io/Images/liepnizsee.jpg" alt="liepnitzsee" width="300">
          
           {% elsif post.title == 'Radtour an der Loire mit Kindern' %}
<img class="" src="https://batardo.github.io/Images/loire-min.webp" alt="loire" width="300">

{% elsif post.title == 'Radbahn - l'autoroute vélo berlinois' %}
<img class="" src="https://batardo.github.io/Images/radbahn-min.png" alt="radbahn berlin" width="300">
         
          
          

  {% endif %}

</div>

<div class="col-md-8 col-sm-12">
    <span>{{ post.date | date_to_string }}</span>&raquo; <a href="{{ post.url }}">{{ post.title }}</a>
   <p id="blogf">{{ post.description }}</p>
   <a href="{{ post.url }}" id="blogf">Artikel lesen</a>
 </div>
 </div>

 <div id="spacer">
 </div>

   {% endfor %}

    </div>

