---
category: blog
layout: default-fr
title: "Voyages à vélo en Europe"
description: "Itinéraires, tracks GPS, équipement: blog d'un fou du vélo."
lang: fr
ref: index
---

 
<div class="container" id="startlisbonf">
      <div class="row">
      <div class="col-xs-12">
        <h1>Sur les routes d'Europe à vélo</h1>  
          </div>
        </div>
      </div>
     

     <div id="spacertop">
     </div>

      <div class="container blog" align="center">

       {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}

     <div class="row vcenter">
         <div class="col-sm-4">

{% if post.title == 'Piste cyclable de Karlsruhe à Strasbourg' %}
 <img class="" src="/Images/ferry-min.JPG" alt="traversee du rhin a velo" width="300">
          
{% elsif post.title == 'Faire marquer et enregistrer son vélo en Allemagne' %}
 <img class="" src="/Images/Gravur.jpg" alt="gravure de vélo" width="300">
          
{% elsif post.title == 'Voyage à vélo en famille le long de la Loire' %}
 <img class="" src="/Images/loire-min.webp" alt="voyage loire vélo" width="300">

{% elsif post.title == 'Tout sur la location de vélo de particulier à particulier' %}
 <img class="" src="/Images/veloloc-min.jpg" alt="location de velo particulier" width="300">

{% elsif post.title == 'Collection de pochettes de billets de trains SNCF' %}
 <img class="" src="/Images/pochettes-ticket-sncf/15-min.JPG" alt="sncf" width="300">

 {% elsif post.title contains 'Radbahn' %}
<img class="" src="/Images/radbahn-min.png" alt="radbahn berlin" width="300">

          
  {% endif %}

</div>

<div class="col-sm-8">
    <span>{{ post.date | date_to_string }}</span>&raquo; <a href="{{ post.url }}">{{ post.title }}</a>
   <p id="blogf">{{ post.description }}</p>
   <a href="{{ post.url }}" id="blogf">Lire cet article</a>
 </div>
 </div>

 <div id="spacer">
 </div>

   {% endfor %}

    </div>
