---
redirect_from: "/bike-route/germany-portugal.html"
category: route
layout: default-new
title: "Cycling across Europe | 30 days on my bike through Germany - France - Spain and Portugal"
description: "One month on a road bike and 3,000 kilometers made me realized how crazy I was about cycling holidays : Sport, Nature, People, what else? Sharing with you on this page all information related to my bike tour : route, gps tracks and tips for accommodation."
comments: true
permalink:"/bike-tours/cycling-across-europe.html/"
---

<div id="fahrradroute1">
      <div class="row">
      <div class="col-md-12">
        <h1 id="">Cycling across Europe</h1>  
        <p id="">Biking through Europe: Germany, France, Spain and Portugal</p>
          </div>
        </div>
      </div>

      <div id="spacer">
  </div>


<div class="container blog">
      <p>Welcome on my page! I guess if you land here, you might be planing a cycling holiday in Europe. Well, it's a great thing. You will find on this page <a href="#maps">maps</a>, <a href="#gps">GPS Tracks</a> and <a href="#accomodation">tips for accommodation</a> which I gathered alltrough my bike tour in Europe.<br/> Please note: English is not my mother tongue... which is why you might find a few mistakes here, sorry for that. But who care's? Maps, GPS tracks and videos are online, that's the most important.</p>
      </div>

 <div class="container blog" align="center" id="">
  <div class="row">

    <div class="col-md-3">
      
        <div id="h100px">
      <p align="center"><img src="/Images/germany.png" width="100px" height="100px" alt="germany"> </p>
      </div>

      <p align="center">Germany</p>

      <div id="h150px">
      Warm-up! From Berlin to Strasbourg - A first 1,000 kilometers through Germany in 10 days.
      </div>
      
      <p align="center"><button type="button" class="btn btn-outline-info"><a href="#titleroute">Bike tour Germany</a></button></p>
    
    </div>

    <div class="col-md-3">
      
      <div id="h100px">
      <p align="center"><img src="/Images/france.png" width="100px" height="100px" alt="france"></p>
      </div>


      <p align="center">France</p>
    
      <div id="h150px">
      Biking across France from Strasbourg to Hendaye - 1,500 kilometers in 15 steps.
      </div>

      <p align="center"><button type="button" class="btn btn-outline-info"><a href="#titleroute1">Bike tour France</a></button></p>
    
    </div>

    <div class="col-md-3">

    <div id="h100px">
      <p align="center"><img src="/Images/spain.png" width="100px" height="100px" alt="spain"></p>
    </div>
      
      <p align="center">Spain</p>
      

       <div id="h150px">
      Bike tour in Spain inside the country from San Sebastian to Ciudad Rodrigo - 500 kilometers across Spain
      </div>

      <p align="center"><button type="button" class="btn btn-outline-info"><a href="#titleroute2">Bike tour Spain</a></button></p>
    </div>

    <div class="col-md-3">

    <div id="h100px">
      <p align="center"><img src="/Images/portugal.png" width="100px" height="100px" alt="portugal"></p>
    </div>
      
      <p align="center">Portugal</p>
      

       <div id="h150px">
       Last country, last kilometers. Biking through Portugal from the spanish borders to Lisbon.
        </div>

      <p align="center"><button type="button" class="btn btn-outline-info"><a href="#titleroute4">Bike tour Portugal</a></button></p>
    </div>

</div>
</div>

    <div id="spacer">
  </div>


 <div class="container blog" align="center">
    <div class="row">
    <div class="col-xs-12" align="center">

<a href="https://en.komoot.de/tour/8229122/embed" target=_blank>
<picture>
  <source srcset="/Images/summary-min.webp" type="image/webp">
  <source srcset="/Images/sumary-min.JPG" type="image/jpeg"> 
  <img src="/Images/sumary-min.JPG" alt="cycling across europe">
</picture>
</a>
    </div>
  </div>

</div>




<div id="spacer">
  </div>
    
   
  <div class="container blog" align="">
     <div class="row">
         <div class="col-md-6" id="maps"> 
        <li><img src="/Images/map.png" alt="map" id="thxlistshawo">Maps</li>
        I used the komoot maps to plan my tour. There you also get the road type (dirt road, asphalt...) which is quite nice if you a ride race bike with thin tyres like me. To get more details, clic on the map (see below), use <button>+</button> for zoom. If you have a <a href="https://www.komoot.com/" target="_blank">Komoot</a> account (free registration), you will also get feedback from other bikers who biked on the route you plan (pictures, reviews...).
         </div>

         <div class="col-md-6" id="gps">      
          <li><img src="/Images/gps.png" alt="gps" id="thxlistshawo">GPS Tracks</li>
        I recorded my bikeway with my GPS and posted all tracks in each step of my bike tour. Please note (1) that the files are in .fit format. If you need to convert them in .gpx or any other file format, you could use this app <a href="http://www.gpsies.com/upload.do?uploadMode=convert&language=fr" target="_blank">GPSies</a>. Please note (2) that I had to pause and turn off my GPS to save battery, wich is why the tracks are sometimes split in several parts... If you have time and want to, you can "repair" the files and combine them using the <a href="https://www.fitfiletools.com/#/top" target="_blank">.fit combiner</a> from strava. 
         </div>
         </div>

         <div class="row">
         <div class="col-md-6">
         <div id="acommodation">
         <li><img src="/Images/accomodation.png" alt="accomodation" id="thxlistshawo">Tips for accommodation</li>
         I do recommend that you register on <a href="https://www.komoot.com/" target="_blank">Warm Showers</a>. People on Warm Showers are most of the time bikers enjoying touring and bike hollidays. So they know the spirit in which you are when you arrive from a 150km riding days. I met really nice people there, relaxed, generous, open. My other options were to sleep in hostels or to camp. You will find all details in the below overview.
          </div>
        </div>

        <div class="col-md-6">
         <div id="acommodation">
         <li><img src="/Images/pictures.jpg" alt="picture" id="thxlistshawo">Pictures</li>
         I biked through 4 different countries and regions of Europe, (Germany, France, Spain and Portugal) which do have totally different landscapes and weathers. I will try to transmit you impressions they conveyed in the <a href="#picturegallery">picture gallery</a>. All pictures made by myself. Enjoy.
          </div>
          </div>


      </div>
    </div>

         

  <div id="spacer">
  </div>



  <div id="berlinstrasbourg">
     <div class="row">
         <div class="col-md-12">
          <h2 id="titleroute">Bike tour Germany</h2>
          <p>Cycling across Germany from Berlin to Strasbourg (FR)</p>
        </div>
      </div>
    </div>

     <div id="spacer">
  </div>

<div class="container blog">


<table class="table table-responsive" align="center">
        <thead>
      <tr>
      <th>#</th>
        <th>Note</th>
        <th>From <img src=/Images/arrow.png> to</th>
        <th>km</th>
        <th><img src=/Images/arrowup.png> m</th>
        <th><img src=/Images/arrowdown.png> m</th>
        <th><img src=/Images/accomodation_s.png ></th>
        <th><img src=/Images/map.png width="20">Map</th>
        <th><img src=/Images/gps.png width="20">GPX</th>
        <th>Review</th>
      </tr>
    </thead>

    <tbody>
      
     <tr>
     <th scope="row">1</th>
        <td><img src="/Images/3stars.png">
        <td>Berlin to Lutherstadt</td>
        <td>98</td>
        <td>420</td>
        <td>390</td>
        <td><a href="http://www.jugendherberge-wittenberg.de/" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/11749387/embed" target=_blank><img src="/Images/Routes/11749387_01-min.JPG" alt="map bike route from berlin to Wittenberg Lutherstadt" width="500"></a></td>
        <td><a href="/carte/2016-04-18-09-58-34.fit" download>Download GPX</a></td>
        <td>The bikeway follows the "Bundestraße 1" / National road (not very exciting) but Lutherstadt-Wittenberg is a nice little city. Youth hostel : cheap, clean, good.</td>
      </tr>

      <tr>
      <th scope="row">2</th>
      <td><img src="/Images/2stars.png">
        <td>Lutherstadt to Leipzig</td>
        <td>69</td>
        <td>340</td>
        <td>300</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11749492/embed" target=_blank><img src="/Images/Routes/11749492_02-min.JPG" alt="cycle path from Wittenberg Lutherstadt to Leipzig" width="500"</a></td>
        <td><a href="/carte/2016-04-19-10-19-19.fit" download>Download GPX</a></td>
        <td>Cycling on cycle path and quite road. Flat. Very easy step (a bit boring maybe).</td>
      </tr>

      <tr>
      <th scope="row">3</th>
      <td><img src="/Images/4stars.png">
        <td>Leipzig to Jena</td>
        <td>90</td>
        <td>760</td>
        <td>540</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11749603/embed" target=_blank><img src="/Images/Routes/11749603_03-min.JPG" alt="cycle path from Leipzig to Jena" width="500"></a></td>
        <td><a href="/carte/2016-04-20-09-23-38.fit" download>Download GPX</a></td>
        <td>From Leipzig to Lützen : great cycle way in the middle of nowhere. Jena-Cospeda is very high. You might stay in the Jena-center. </td>
      </tr>

      <tr>
      <th scope="row">4</th>
      <td><img src="/Images/4stars.png">
        <td>Jena to Ilmenau</td>
        <td>85</td>
        <td>620</td>
        <td>460</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11749750/embed" target=_blank><img src="/Images/Routes/11749750_04-min.JPG" alt="cycle path from Jena to Illmenau" width="500"></a></td>
        <td><a href="/carte/2016-04-21-08-15-52.fit" download>Download GPX</a></td>
        <td>Following the "ilm" river. Very nice cycle route. More information about the "Ilmtal" cycle path<a href="http://www.ilmtal-radweg.de/de/cycle-route/" target="_blank">here</a>.</td>
      </tr>

      <tr>
      <th scope="row">5</th>
      <td><img src="/Images/4stars.png">
        <td>Ilmenau to Schweinfurt</td>
        <td>130</td>
        <td>1690</td>
        <td>1960</td>
        <td><a href="http://www.jugendgaestehaus-schweinfurt.de/home.html" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/11750127/embed" target=_blank><img src="/Images/Routes/11750127_05-min.JPG" alt="cycle path from Illmenau to Schweinfurt" width="500"></a></td>
        <td><a href="/carte/2016-04-22-09-03-34.fit" download>Download GPX</a></td>
        <td>Challenging. Climbing up to 800 meters until Rennsteig then descending to Sühl through the "Thrüringer" Forest. Very nice hostel at Schweinfurt.</td>
      </tr>

       <tr>
       <th scope="row">6</th>
       <td><img src="/Images/3stars.png">
        <td>Schweinfurt to Würzburg</td>
        <td>47</td>
        <td>320</td>
        <td>340</td>
        <td>Hostel</td>
        <td><a href="https://en.komoot.de/tour/11750188/embed" target=_blank><img src="/Images/Routes/11750188_06-min.JPG" alt="cycle path from Schweinfurt to Würzburg" width="500"></a></td>
        <td><a href="/carte/2016-04-23-10-09-59.fit" download>Download GPX</a></td>
        <td>Busy roads. No bike way. But Würzburg is a nice city for a break.</td>
      </tr>

       <tr>
       <th scope="row">7</th>
       <td><img src="/Images/4stars.png"></td>
        <td>Würzburg to Mosbach</td>
        <td>119</td>
        <td>1080</td>
        <td>1120</td>
        <td><a href="http://www.jugendherberge.de/en/youth-hostels/mosbach-neckarelz18/Portrait" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/11750325/embed" target=_blank><img src="/Images/Routes/11750325_07-min.JPG" alt="cycle path from Würzburg to Mosbach" width="500"></a></td>
        <td><a href="/carte/2016-04-24-09-18-05.fit" download>Download GPX</a></td>
        <td>Challenging: ascending, descending. Cycle way is on the road, without traffic. Super youth hostel in Mosbach.</td>
      </tr>

       <tr>
       <th scope="row">8</th>
       <td><img src="/Images/1star.png">
        <td>Mosbach to Karlsruhe</td>
        <td>85</td>
        <td>730</td>
        <td>770</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11750352/embed" target=_blank><img src="/Images/Routes/11750352_08-min.JPG" alt="cycle path from Mosbach to Karlsruhe" width="500"></a></td>
        <td><a href="/carte/2016-04-25-09-48-27.fit" download>Download GPX</a></td>
        <td>Find another way. Only busy roads. Not fun.</td>
      </tr>

       <tr>
       <th scope="row">9</th>
       <td><img src="/Images/4stars.png">
        <td>Karlsruhe to Strasbourg</td>
        <td>84</td>
        <td>190</td>
        <td>160</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Airbnb</a></td>
        <td><a href="https://en.komoot.de/tour/11750427/embed" target=_blank><img src="/Images/Routes/11750427_09-min.JPG" alt="cycle path from Karlsruhe to Straßburg" width="500"></a></td>
        <td><a href="/carte/2016-04-26-12-16-45.fit" download>Download GPX</a></td>
        <td>Nice cycle path after Rastat along the "rhine" river. Jump on a ferry boat to cross the border/river. Then from Drusenhein down to Strasbourg following bike way. Strasbourg is bike friendly.</td>
      </tr>
      </tbody>
      </table>
   


<p>Share this german bike tour : {% include share-bar.html %}</p>

</div>

<div id="spacer">
    </div>


  <div id="startlisbon5">
     <div class="row">
         <div class="col-md-12">
          <h2 id="titleroute1">Bike tour in France</h2>
          <p>15 days accross France from Strasbourg to San Sebastian(ES)</p>
        </div>
      </div>
    </div>

       <div id="spacer">
    </div>


    <div class="container blog">
    <table class="table table-responsive" align="center">
        <thead>
      <tr>
      <th>#</th>
        <th>Note</th>
        <th>From <img src=/Images/arrow.png> to</th>
        <th>km</th>
        <th><img src=/Images/arrowup.png> m</th>
        <th><img src=/Images/arrowdown.png> m</th>
        <th><img src=/Images/accomodation_s.png ></th>
        <th><img src=/Images/map.png width="20">Map</th>
        <th><img src=/Images/gps.png width="20"> GPX</th>
        <th>Review</th>
      </tr>
    </thead>

    <tbody>
     <tr>
     <th scope="row">1</th>
     <td><img src="/Images/5stars.png"></td>
        <td>Strasbourg to Colmar</td>
        <td>75</td>
        <td>120</td>
        <td>70</td>
        <td><a href="http://www.hifrance.org/auberge-de-jeunesse/colmar.html?page=article" target="_blank">Hostel</a>
        <td><a href="https://www.komoot.com/tour/11750427/embed" target=_blank>
          <img src="/Images/Routes/11750458_10-min.JPG"  alt="Bike route from Straßburg to Colmar" width="500">
          </a></td>
        <td><a href="/carte/2016-04-28-11-32-49.fit" download>Download GPX</a></td>
        <td>Flat cyclepath from Strasbourg to Colmar along the rhin-rhône canal in between the moutains Vosges and Black forest. Colmar must be seen.</td>
      </tr>

       <tr>
       <th scope="row">2</th>
       <td><img src="/Images/3stars.png"></td>
        <td>Colmar to Belfort</td>
        <td>85</td>
        <td>570</td>
        <td>410</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11750510/embed" target=_blank>
          <img src="/Images/Routes/11750510_11-min.JPG" width="500" alt="Bike route from Colmar to Belfort" width="500"></a></td>
        <td><a href="/carte/2016-05-01-13-45-39.fit" download>Download GPX</a></td>
        <td>Bike route on "depatementales" kind of country roads.</td>
      </tr>

      <tr>
      <th scope="row">3</th>
      <td><img src="/Images/3stars.png"></td>
        <td>Belfort to Montbéliard</td>
        <td>35</td>
        <td>60</td>
        <td>100</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11750531/embed" target=_blank>
          <img src="/Images/Routes/11750531_12-min.JPG"  alt="Bike route from Belfort to Montbéliard" width="500">
          </a></td>
        <td><a href="/carte/2016-05-02-09-04-46.fit" download>Download GPX</a></td>
        <td>Eurovélo 6 cycle route.</td>
      </tr>

      <tr>
      <th scope="row">4</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Montbéliard to Besançon</td>
        <td>99</td>
        <td>610</td>
        <td>670</td>
        <td><a href="http://www.hifrance.org/auberge-de-jeunesse/besancon.html" target="_blank">Hostel</a>
        <td><a href="https://en.komoot.de/tour/11750591/embed" target=_blank>
          <img src="/Images/Routes/11750591_13-min.JPG"  alt="Bike route from Montbéliard to Besançon" width="500">
          </a></td>
        <td><a href="/carte/2016-05-03-09-14-28.fit" download>Download GPX</a></td>
        <td>Eurovélo 6 cycle route. Descending the river "doubs". Great bikeway, and infrasctructures. Also suitable with kids.</td>
      </tr>

      <tr>
      <th scope="row">5</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Besançon to Dole</td>
        <td>70</td>
        <td>210</td>
        <td>250</td>
        <td><a href="http://www.habitatjeuneslesoiseaux.fr/" target="_blank">Hostel</a>
        <td><a href="https://en.komoot.de/tour/11750622/embed" target=_blank>
          <img src="/Images/Routes/11750622_14-min.JPG"  alt="Bike route from Besançon to Dôle" width="500">
          </a></td>
        <td><a href="/carte/2016-05-04-10-07-12.fit" download>Download GPX</a></td>
        <td>Eurovélo 6 cycle route. Descending the river "doubs". </td>
      </tr>

      <tr>
      <th scope="row">6</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Dole to Chalon-sur-saône</td>
        <td>100</td>
        <td>230</td>
        <td>250</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/11750653/embed" target=_blank>
          <img src="/Images/Routes/11750653_15-min.JPG"  alt="Bike route from Dôle to Chalon sur saone" width="500">
          </a></td>
        <td><a href="/carte/2016-05-05-09-13-16.fit" download>Download GPX</a></td>
        <td>Eurovélo 6 cycle route. Descending the river "doubs" and finally the "soane".</td>
      </tr>

      <tr>
      <th scope="row">7</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Chalon-sur-saône to Paray-le-Monial</td>
        <td>110</td>
        <td>570</td>
        <td>520</td>
        <td><a href="http://www.6io.fr/chambre_hote_gite_paray_le_monial/Accueil.html" target="_blank">Bed & Breakfast</a></td>
        <td><a href="https://en.komoot.de/tour/11750829/embed" target=_blank>
          <img src="/Images/Routes/11750829_16-min.JPG"  alt="Bike route from Châlon sur Saone to Paray-le-Monial" width="500">
          </a></td>
        <td><a href="/carte/2016-05-06-09-46-33.fit" download>Download GPX</a></td>
        <td>Bikway following the canal "canal du centre", </td>
      </tr>

      <tr>
      <th scope="row">8</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Paray-le-Monial to Saulcet</td>
        <td>95</td>
        <td>540</td>
        <td>520</td>
        <td><a href="https://www.airbnb.fr/rooms/3830360" target="_blank">Gasthaus</a></td>
        <td><a href="https://en.komoot.de/tour/12376574/embed" target=_blank>
          <img src="/Images/Routes//12376574_17-min.JPG"  alt="Bike route from Paray-le-Monial to Saulcet" width="500">
          </a></td>
        <td><a href="/carte/2016-05-07-10-02-21.fit" download>Download GPX</a></td>
        <td>Bike route on roads, small country roads, without cars, entering in some kind of "lost" regions from France.</td>
      </tr>

      <tr>
      <th scope="row">9</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Saulcet to Auzances</td>
        <td>100</td>
        <td>1310</td>
        <td>1020</td>
        <td><a href="https://www.airbnb.fr/rooms/10523176" target="_blank">Gasthaus</a></td>
        <td><a href="https://en.komoot.de/tour/12376674/embed" target=_blank>
          <img src="/Images/Routes//12376674_18-min.JPG"  alt="Bike route from Saulcet to Auzances" width="500">
          </a></td>
        <td><a href="/carte/2016-05-08-09-47-51.fit" download>Download GPX</a></td>
        <td>Very challenging, very hilly, up and downs, in de midlle of nowhere!</td>
      </tr>

      <tr>
      <th scope="row">10</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Auzances to Limoges</td>
        <td>116</td>
        <td>1360</td>
        <td>1630</td>
         <td><a href="https://www.airbnb.fr/rooms/10523176" target="_blank">Warm Showers</a></td>
         <td><a href="https://en.komoot.de/tour/12376734/embed" target=_blank>
          <img src="/Images/Routes/12376734_19-min.JPG"  alt="Bike route from Auzances to Limoges" width="500">
         </a></td>
        <td><a href="/carte/2016-05-09-09-12-43.fit" download>Download GPX</a></td>
        <td>Aslo challenging, last kilometers between Bourganoeuf and Limoges on a busy road.</td>
      </tr>

      <tr>
      <th scope="row">11</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Limoges to Bourdeilles</td>
        <td>106</td>
        <td>1090</td>
        <td>1270</td>
         <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
         <td><a href="https://en.komoot.de/tour/12376767/embed" target=_blank>
          <img src="/Images/Routes/12376767_20-min.JPG"  alt="Bike route from Limoges to Bourdeilles" width="500">
          </a></td>
        <td><a href="/carte/2016-05-10-11-49-20.fit" download>Download GPX</a></td>
        <td>French Perigord beautiful - The city Brantôme has to be seen.
         Accommodation : in Bourdeille, ask Manu. He owns a small house 5 kilometers away from the village and is crazy about bikes.</td>
      </tr>

      <tr>
      <th scope="row">12</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Bourdeilles to Bordeaux</td>
        <td>148</td>
        <td>920</td>
        <td>1010</td>
        <td>Privat</td>
        <td><a href="https://en.komoot.de/tour/12377027/embed" target=_blank>
          <img src="/Images/Routes/12377027_21-min.JPG"  alt="Bike route from Bourdeilles to Bourdeaux" width="500">
          </a></td>
        <td><a href="/carte/2016-05-11-18-44-00.fit" download>Download GPX</td>
        <td>Careful when crossing the Garonne, one of the largest river in France. I took a one way bridge with alternate circulation. So I created massive troubles with my bike.</td>
      </tr>

      <tr>
      <th scope="row">13</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Bordeaux to Mimizan-plage</td>
        <td>113</td>
        <td>290</td>
        <td>310</td>
        <td>Privat</td>
        <td><a href="https://en.komoot.de/tour/12411633/embed" target=_blank>
          <img src="/Images/Routes/12411633_22-min.JPG"  alt="Bike route from Bordeaux to Mimizan" width="500">
          </a></td>
        <td><a href="/carte/2016-05-12-10-18-44.fit" download>Download GPX</a></td>
        <td>From bordeaux towards south west : strong heavy head wind !! coming from ocean.</td>
      </tr>

      <tr>
      <th scope="row">14</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Mimizan-plage Cap Breton</td>
        <td>80</td>
        <td>250</td>
        <td>250</td>
        <td><a href="http://www.campinglacivelle.fr/" target="_blank">Camping</a></td>
        <td><a href="https://en.komoot.de/tour/12411698/embed" target=_blank>
          <img src="/Images/Routes/12411698_23-min.JPG"  alt="Bike route from Mimizan to Cap Breton" width="500">
          </a></td>
        <td><a href="/carte/2016-05-13-09-52-06.fit" download>Download GPX</a></td>
        <td>Following the cycle route "velodyssée". Great bike Infrastructures for bike. very easy step. Suitable for kids.</td>
      </tr>

      <tr>
      <th scope="row">15</th>
      <td><img src="/Images/4stars.png"></td>
        <td>Cap Breton to San Sebastian</td>
        <td>85</td>
        <td>680</td>
        <td>680</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td>
         <a href="https://en.komoot.de/tour/12450660/embed" target=_blank>
          <img src="/Images/Routes/12450660_24-min.JPG"  alt="Bike route from Cap Breton to Donostia" width="500">
          </a></td>
        <td><a href="/carte/2016-05-14-14-43-14.fit" download>Download GPX</a></td>
        <td>very busy, lot of traffic. From Bayonne until Hendaye. 
         From Irun to Lezo : 2x2 national road, very busy, be careful, but unfortunately it is the "only" way to reach San Sebastian/Donostia, a city is to be seen.</td>
      </tr>
      </tbody>
      </table>
  

    <p>Share this bike tour in France : {% include share-bar.html %}
  </p>
</div>

<div id="spacer">
    </div>

    <div class="" id="startlisbon9">
     <div class="row">
         <div class="col-md-12">
          <h2 id="titleroute2">Bike tour in Spain</h2>
          <p>Countryside from Baksenland to the Portuguese Border</p>
        </div>
      </div>
    </div>
     
     
      <div id="spacer">
    </div>

     <div class="container blog">
    <table class="table table-responsive" align="center">
        <thead>
      <tr>
      <th>#</th>
        <th>Note</th>
        <th>From <img src=/Images/arrow.png> to</th>
        <th>km</th>
        <th><img src=/Images/arrowup.png> m</th>
        <th><img src=/Images/arrowdown.png> m</th>
        <th><img src=/Images/accomodation_s.png ></th>
        <th><img src=/Images/map.png width="20">Map</th>
        <th><img src=/Images/gps.png width="20"> GPX</th>
        <th>Review</th>
      </tr>
    </thead>

    <tbody>
     <tr>
     <th scope="row">1</th>
     <td><img src="/Images/4stars.png">
     <td>San Sebastian to Arrasate</td>
        <td>85</td>
        <td>1800</td>
        <td>1600</td>
        <td>Airbnb</td>
        <td><a href="https://en.komoot.de/tour/12450733/embed" target=_blank>
          <img src="/Images/Routes/12450733_25-min.JPG" alt="Bike route from Donostia to Arrasate" width="500"></td>
        <td><a href="/carte/2016-05-15-09-35-50.fit" download>Download GPX</a></td>
        <td>Leaving San Sebastian 16% short ascenscion. From the top amazing view. After Azkoita you climb steeply from 200 to 700 meters. No trafic on the road, great.</td>
      </tr>

      <tr>
      <th scope="row">2</th>
      <td><img src="/Images/2stars.png">
        <td>Arrasate to Aguilar de Bureba</td>
        <td>115</td>
        <td>1350</td>
        <td>880</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/12450895/embed" target=_blank><img src="/Images/Routes/12450895_26-min.JPG" alt="Bike route from Arrasate to Aguilar von Bureba" width="500"></a></td>
        <td><a href="/carte/2016-05-16-10-18-03.fit" download>Download GPX</a></td>
        <td>Until Vitoria-Gasteiz very nice road and lake. Then, cautious: the N-1. It's 2x2 national Road full of trucks. Ovoid it !</td>
      </tr>

      <tr>
      <th scope="row">3</th>
      <td><img src="/Images/4stars.png">
        <td>Aguilar de Bureba to Burgos</td>
        <td>48</td>
        <td>440</td>
        <td>270</td>
        <td><a href="https://www.airbnb.fr/rooms/5637745?location=Burgos%2C%20Espagne&s=2Uhv4InJ" target="_blank">Airbnb</a></td>
        <td><a href="https://en.komoot.de/tour/12450939/embed" target=_blank>
          <img src="/Images/Routes/12450939_27-min.JPG" alt="Bike route from Aguilar de Bureba to Burgos" width="500">
          </a></td>
        <td><a href="/carte/2016-05-17-12-14-05.fit" download>Download GPX</a></td>
        <td>Empty road in the mountains. Nice cathedral in Burgos</td>
      </tr>

      <tr>
      <th scope="row">4</th>
      <td><img src="/Images/4stars.png">
        <td>Burgos to Valladolid</td>
        <td>142</td>
        <td>700</td>
        <td>860</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/12451162/embed" target=_blank>
          <img src="/Images/Routes/12451162_28-min.JPG" alt="Bike route from Burgos to Valladolid" width="500">
          </a></td>
        <td><a href="/carte/2016-05-18-09-25-37.fit" download>Download GPX</a></td>
        <td>From Palencia to Valladolid following the canal de castilla. Very nice bike path, but only dirt roads, careful if you ride a road bike...</td>
      </tr>

       <tr>
       <th scope="row">5</th>
       <td><img src="/Images/4stars.png">
        <td>Valladolid to Salamanca</td>
        <td>122</td>
        <td>700</td>
        <td>600</td>
        <td><a href="https://www.warmshowers.org/" target="_blank">Warm Showers</a></td>
        <td><a href="https://en.komoot.de/tour/12485332/embed" target=_blank>
          <img src="/Images/Routes/12485332_29-min.JPG" alt="Bike route from Valladolid to Salamanca" width="500">
          </a></td>
        <td><a href="/carte/2016-05-19-08-15-53.fit" download>Download GPX</a></td>
        <td>Actually a very boring road. Never ending straight forward road. I had luck I had wind in my back. It's a bit like a desert road. Salamanca is a great student city. It's definitely a break worth.</td>
      </tr>

       <tr>
       <th scope="row">6</th>
       <td><img src="/Images/2stars.png">
        <td>Salamanca to Sancti Spiritus</td>
        <td>65</td>
        <td>290</td>
        <td>340</td>
        <td><a href="http://www.hostallaponderosa.com/fr/" target="_blank">Camping/Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/12485284/embed" target=_blank>
          <img src="/Images/Routes/12485284_30-min.JPG" alt="Bike route from Salamanca to Sancti spiritus" width="500">
          </a></td>
        <td><a href="/carte/2016-05-21-12-21-34.fit" download>Download GPX</a></td>
        <td>This desert straight road has no interest. I had wind from the front. No chance. Had to stop. The hostel is great. You can camp. Eating there is the best (Massive portions).</td>
      </tr>

        </tbody>
        </table>
        


        <p>Share this bike tour in Spain : {% include share-bar.html %}</p>
</div>

<div id="spacer">
    </div>

<div class="" align="center" id="startlisbon11">
     <div class="row">
         <div class="col-md-12">
          <h2 id="titleroute4">Bike tour in Portugal</h2> 
          <p>From Salamanca to Lisbon</p>   
        </div>
      </div>
      </div>

  <div id="spacer">
  </div>

  <div class="container blog">
    <table class="table table-responsive" align="center">
        <thead>
      <tr>
      <th>#</th>
        <th>Note</th>
        <th>From <img src=/Images/arrow.png> to</th>
        <th>km</th>
        <th><img src=/Images/arrowup.png> m</th>
        <th><img src=/Images/arrowdown.png> m</th>
        <th><img src=/Images/accomodation_s.png ></th>
        <th><img src=/Images/map.png width="20">Map</th>
        <th><img src=/Images/gps.png width="20"> GPX</th>
        <th>Review</th>
      </tr>
    </thead>

    <tbody>
     <tr>
     <th scope="row">1</th>
     <td><img src="/Images/5stars.png">
        <td>Sancti Spiritus to Indhana a nova</td>
        <td>155</td>
        <td>1470</td>
        <td>1820</td>
        <td><a href="https://www.hihostels.com/hostels/idanha-a-nova" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/12485530/embed" target=_blank>
          <img src="/Images/Routes/12485284_30-min.JPG" alt="cycle path from Salamanca to Sancti spiritus" width="500">
          </a></td>
        <td><a href="/carte/2016-05-22-10-35-03.fit" download>Download GPX</a></td>
        <td>Wonderful descent after Navastrias from 1.000 high to 500 meters in a very shot time! Road only. No cars. Enjoy :)</td>
      </tr>

       <tr>
        <th scope="row">2</th>
        <td><img src="/Images/5stars.png">
        <td>Indhana a nova to Proenca a nova</td>
        <td>85</td>
        <td>1200</td>
        <td>1140</td>
        <td>Hotel</td>
        <td><a href="https://en.komoot.de/tour/12485523/embed" target=_blank><img src="/Images/Routes/12485523_32-min.JPG" alt="Bike route from Indhana a nova to Proenca a nova" width="500"></a></td>
        <td><a href="/carte/2016-05-23-10-09-58.fit" download>Download GPX</a></td>
        <td>Very hilly. Up and downs. Nice little Roads. Be in a good shape. Absolutely great hostel in a cute lost village</td>
      </tr>

       <tr>
        <th scope="row">3</th>
        <td><img src="/Images/4stars.png">
        <td>Proenca a nova to Santarem</td>
        <td>117</td>
        <td>1050</td>
        <td>1400</td>
        <td><a href="http://www.n1hostelapartments.com/" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/12485590/embed" target=_blank>
          <img src="/Images/Routes/12485590_33-min.JPG" alt="Bike route from Proenca a nova to Santarem" width="500">
          </a></td>
        <td><a href="/carte/2016-05-24-09-10-02.fit" download>Downlad GPX</a></td>
        <td>Santarem is a super nice city. Riding over there along the River Tejo. Descending all the time. Careful at some points before santarem : cobbled roads</td>
      </tr>

       <tr>
        <th scope="row">4</th>
        <td><img src="/Images/3stars.png">
        <td>Santarem to Lisboa</td>
        <td>80</td>
        <td>390</td>
        <td>470</td>
        <td><a href="http://5-sins-chiado-hostel-lisboa.bedspro.com/fr/" target="_blank">Hostel</a></td>
        <td><a href="https://en.komoot.de/tour/12485621/embed" target=_blank>
          <img src="/Images/Routes/12485621_34-min.JPG" alt="Bike route from Santarem to Lisboa" width="500">
          </a></td>
        <td><a href="/carte/2016-05-25-09-35-32.fit" download>Download GPX</a></td>
        <td>Not the best step of my trip. Last 30 kilometers are arriving in Lisbon : very busy Road.</td>
      </tr>
    </tbody>
    
   </table>



<p>Share this bike tour in Portugal : {% include share-bar.html %}</p>
</div>

 <div class="" id="picturegallery">
     <div class="row">
         <div class="col-md-12">
          <h2 id="">P.I.C.T.U.R.E G.A.L.L.E.R.Y</h2>
        </div>
      </div>
    </div>

    <div id="spacertop">
    </div>

<div class="container blog">
  <div class="row">
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


   <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/berlinstyle.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/berlinstyle.JPG" itemprop="thumbnail" alt="Berlin style | Germany - Departure" />
      </a>
    <figcaption itemprop="caption description">Berlin style | Germany - Departure</figcaption>
                                          
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/asparjusfield-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/asparjusfield-min.jpg" itemprop="thumbnail" alt="Belitz | Germany - Asparjus fields" />
      </a>
    <figcaption itemprop="caption description">Belitz | Germany - Asparjus fields</figcaption>
                                          
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/thüringerdorf.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/thüringerdorf.JPG" itemprop="thumbnail" alt="Thuringia | Germany - Typical local village " />
      </a>
      <figcaption itemprop="caption description">Thuringia | Germany - Typical local village</figcaption>
    </figure>
    </div>

    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


     

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/thüringen-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/thüringen-min.jpg" itemprop="thumbnail" alt="Thuringia | Germany - Cycle path on the river Ilm" />
      </a>
      <figcaption itemprop="caption description">Thuringia | Germany - Cycle path on the river Ilm</figcaption>
    </figure>


    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/plainealsace-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/plainealsace-min.jpg" itemprop="thumbnail" alt="Alsace | Moutain Vosges in the Background" />
      </a>
      <figcaption itemprop="caption description">Alsace | Moutain Vosges in the Background</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/würburg-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/würburg-min.jpg" itemprop="thumbnail" alt="Würzburg | Bavaria" />
      </a>
      <figcaption itemprop="caption description">Würzburg | Bavaria</figcaption>
    </figure>
    </div>

    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/ferry.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/ferry.JPG" itemprop="thumbnail" alt="Crossing the border on the ferry boat from Germany to France" />
      </a>
      <figcaption itemprop="caption description">Crossing the border on the ferry boat from Germany to France</figcaption>
    </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/baskenland-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/baskenland-min.jpg" itemprop="thumbnail" alt="asque country | Pyrennees" />
      </a>
      <figcaption itemprop="caption description">Basque country | Pyrennees</figcaption>
    </figure>

     

   <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/belfort-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/belfort-min.jpg" itemprop="thumbnail" alt="Belfort | France - Start from 'endurolio'"/>
      </a>
      <figcaption itemprop="caption description">Belfort | France - Start from "endurolio"</figcaption>
    </figure>

    </div>
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/doubs-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/doubs-min.jpg" itemprop="thumbnail" alt="Eurovélo 6 | Bikeway along the river Doubs" />
      </a>
      <figcaption itemprop="caption description">Eurovélo 6 | Bikeway along the river Doubs</figcaption>
    </figure>


    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/creuse-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/creuse-min.jpg" itemprop="thumbnail" alt="Creuse | France - In the middle of nowhere" />
      </a>
      <figcaption itemprop="caption description">Creuse | France - In the middle of nowhere</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/manu-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/manu-min.jpg" itemprop="thumbnail" alt="Manu - A crazy guy crazy about bikes who I met on the road checked my bike. See what happened :)<" />
      </a>
      <figcaption itemprop="caption description">Manu - A crazy guy crazy about bikes who I met on the road checked my bike. See what happened :)</figcaption>
    </figure>

    </div>
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">

      
     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/castilla-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/castilla-min.jpg" itemprop="thumbnail" alt="Bike road | Castilla y Leon<" />
      </a>
      <figcaption itemprop="caption description">Bike road | Castilla y Leon</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/dryspain.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/dryspain.JPG" itemprop="thumbnail" alt="Spain is dry. Have water." />
      </a>
      <figcaption itemprop="caption description">Spain is dry. Have water.</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/castillayleon.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/castillayleon.JPG" itemprop="thumbnail" alt="Castilla y leon | Spain" />
      </a>
      <figcaption itemprop="caption description">Castilla y leon | Spain</figcaption>
    </figure>
    </div>

    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">

    

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/santarem_PT.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/santarem_PT.JPG" itemprop="thumbnail" alt="Near Santarem | Portugal" />
      </a>
      <figcaption itemprop="caption description">Near Santarem | Portugal</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/arriving-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/arriving-min.jpg" itemprop="thumbnail" alt="Arriving near Lisbon" />
      </a>
      <figcaption itemprop="caption description">Arriving near Lisbon</figcaption>
    </figure>
     

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/basquecountry.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/basquecountry.JPG" itemprop="thumbnail" alt="Basque country | Spanish part" />
      </a>
      <figcaption itemprop="caption description">Basque country | Spanish part</figcaption>
    </figure>
    </div>

    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


  

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/lisbon-min.JPG" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/lisbon-min.JPG" itemprop="thumbnail" alt="Lisbon | Portugal" />
      </a>
      <figcaption itemprop="caption description">Lisbon | Portugal</figcaption>
    </figure>

     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/canalrhin-min.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/canalrhin-min.jpg" itemprop="thumbnail" alt="Cycle path on the canal Rhine Rhone" />
      </a>
      <figcaption itemprop="caption description">Cycle path on the canal Rhine Rhone</figcaption>
    </figure>

    </div>
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">

  
     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/gps-min.jpg" itemprop="contentUrl" data-size="600x1024">
          <img src="/Images/gps-min.jpg" itemprop="thumbnail" alt="Thüringer Wald | Dirt raod in the Forest." />
      </a>
      <figcaption itemprop="caption description">Thüringer Wald | Dirt raod in the Forest.</figcaption>
    </figure>

    </div>

    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">



    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/backpack.JPG" itemprop="contentUrl" data-size="400x650">
          <img src="/Images/backpack.JPG" itemprop="thumbnail" alt="See my racks and packing" />
      </a>
      <figcaption itemprop="caption description">See my racks and packing</figcaption>
    </figure>

    </div>
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/batavus.JPG" itemprop="contentUrl" data-size="500x650">
          <img src="/Images/batavus.JPG" itemprop="thumbnail" alt="My Batavus Bike" />
      </a>
      <figcaption itemprop="caption description">My Batavus Bike</figcaption>
    </figure>

    </div>
    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">

   <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/salamanca-min.jpg" itemprop="contentUrl" data-size="768x768">
          <img src="/Images/salamanca-min.jpg" itemprop="thumbnail" alt="Salamanca | Spain" />
      </a>
      <figcaption itemprop="caption description">Salamanca | Spain</figcaption>
    </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/massifcentral.JPG" itemprop="contentUrl" data-size="1024x368">
          <img src="/Images/massifcentral.JPG" itemprop="thumbnail" alt="Massif central | France" />
      </a>
      <figcaption itemprop="caption description">Massif central | France</figcaption>
    </figure>

     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/arrived.jpg" itemprop="contentUrl" data-size="1024x768">
          <img src="/Images/arrived.jpg" itemprop="thumbnail" alt="Lisbon | Portugal" />
      </a>
      <figcaption itemprop="caption description">Lisbon | Portugal</figcaption>
    </figure>
    

    </div>


    <div class="my-gallery col-xs-2 col-sm-2 col-md-2" itemscope itemtype="http://schema.org/ImageGallery">


    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/PT.JPG" itemprop="contentUrl" data-size="768x768">
          <img src="/Images/PT.JPG" itemprop="thumbnail" alt="Portugal | Local house" />
      </a>
      <figcaption itemprop="caption description">Portugal | Local house</figcaption>
    </figure>





     <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/Images/portugalstyle.JPG" itemprop="contentUrl" data-size="500x500">
          <img src="/Images/portugalstyle.JPG" itemprop="thumbnail" alt="Portugal style" />
      </a>
    <figcaption itemprop="caption description">Portugal style</figcaption>
                                          
    </figure>

   

    </div>
    </div>
    </div>

  


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>



          <script type="text/javascript">
            var initPhotoSwipeFromDOM = function(gallerySelector) {

              // parse slide data (url, title, size ...) from DOM elements 
              // (children of gallerySelector)
              var parseThumbnailElements = function(el) {
                  var thumbElements = el.childNodes,
                      numNodes = thumbElements.length,
                      items = [],
                      figureEl,
                      linkEl,
                      size,
                      item;

                  for(var i = 0; i < numNodes; i++) {

                      figureEl = thumbElements[i]; // <figure> element

                      // include only element nodes 
                      if(figureEl.nodeType !== 1) {
                          continue;
                      }

                      linkEl = figureEl.children[0]; // <a> element

                      size = linkEl.getAttribute('data-size').split('x');

                      // create slide object
                      item = {
                          src: linkEl.getAttribute('href'),
                          w: parseInt(size[0], 10),
                          h: parseInt(size[1], 10)
                      };



                      if(figureEl.children.length > 1) {
                          // <figcaption> content
                          item.title = figureEl.children[1].innerHTML; 
                      }

                      if(linkEl.children.length > 0) {
                          // <img> thumbnail element, retrieving thumbnail url
                          item.msrc = linkEl.children[0].getAttribute('src');
                      } 

                      item.el = figureEl; // save link to element for getThumbBoundsFn
                      items.push(item);
                  }

                  return items;
              };

              // find nearest parent element
              var closest = function closest(el, fn) {
                  return el && ( fn(el) ? el : closest(el.parentNode, fn) );
              };

              // triggers when user clicks on thumbnail
              var onThumbnailsClick = function(e) {
                  e = e || window.event;
                  e.preventDefault ? e.preventDefault() : e.returnValue = false;

                  var eTarget = e.target || e.srcElement;

                  // find root element of slide
                  var clickedListItem = closest(eTarget, function(el) {
                      return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
                  });

                  if(!clickedListItem) {
                      return;
                  }

                  // find index of clicked item by looping through all child nodes
                  // alternatively, you may define index via data- attribute
                  var clickedGallery = clickedListItem.parentNode,
                      childNodes = clickedListItem.parentNode.childNodes,
                      numChildNodes = childNodes.length,
                      nodeIndex = 0,
                      index;

                  for (var i = 0; i < numChildNodes; i++) {
                      if(childNodes[i].nodeType !== 1) { 
                          continue; 
                      }

                      if(childNodes[i] === clickedListItem) {
                          index = nodeIndex;
                          break;
                      }
                      nodeIndex++;
                  }



                  if(index >= 0) {
                      // open PhotoSwipe if valid index found
                      openPhotoSwipe( index, clickedGallery );
                  }
                  return false;
              };

              // parse picture index and gallery index from URL (#&pid=1&gid=2)
              var photoswipeParseHash = function() {
                  var hash = window.location.hash.substring(1),
                  params = {};

                  if(hash.length < 5) {
                      return params;
                  }

                  var vars = hash.split('&');
                  for (var i = 0; i < vars.length; i++) {
                      if(!vars[i]) {
                          continue;
                      }
                      var pair = vars[i].split('=');  
                      if(pair.length < 2) {
                          continue;
                      }           
                      params[pair[0]] = pair[1];
                  }

                  if(params.gid) {
                      params.gid = parseInt(params.gid, 10);
                  }

                  return params;
              };

              var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                  var pswpElement = document.querySelectorAll('.pswp')[0],
                      gallery,
                      options,
                      items;

                  items = parseThumbnailElements(galleryElement);

                  // define options (if needed)
                  options = {

                      // define gallery index (for URL)
                      galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                      getThumbBoundsFn: function(index) {
                          // See Options -> getThumbBoundsFn section of documentation for more info
                          var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                              pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                              rect = thumbnail.getBoundingClientRect(); 

                          return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                      }

                  };

                  // PhotoSwipe opened from URL
                  if(fromURL) {
                      if(options.galleryPIDs) {
                          // parse real index when custom PIDs are used 
                          // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                          for(var j = 0; j < items.length; j++) {
                              if(items[j].pid == index) {
                                  options.index = j;
                                  break;
                              }
                          }
                      } else {
                          // in URL indexes start from 1
                          options.index = parseInt(index, 10) - 1;
                      }
                  } else {
                      options.index = parseInt(index, 10);
                  }

                  // exit if index not found
                  if( isNaN(options.index) ) {
                      return;
                  }

                  if(disableAnimation) {
                      options.showAnimationDuration = 0;
                  }

                  // Pass data to PhotoSwipe and initialize it
                  gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
                  gallery.init();
              };

              // loop through all gallery elements and bind events
              var galleryElements = document.querySelectorAll( gallerySelector );

              for(var i = 0, l = galleryElements.length; i < l; i++) {
                  galleryElements[i].setAttribute('data-pswp-uid', i+1);
                  galleryElements[i].onclick = onThumbnailsClick;
              }

              // Parse URL and open gallery if it contains #&pid=3&gid=1
              var hashData = photoswipeParseHash();
              if(hashData.pid && hashData.gid) {
                  openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
              }
          };

          // execute above function
          initPhotoSwipeFromDOM('.my-gallery');
          </script>

