<!DOCTYPE html>
<html lang="fr">
<head>
    
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/css/index.css">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>

    {% if page.title == 'Portugal à vélo - Itinéraire de Strasbourg à Lisbonne' %}
    <link rel="alternate" hreflang="en" href="https://www.cycle-man.com/bike-tours/cycling-across-europe.html" />
    <link rel="alternate" hreflang="fr" href="https://www.cycle-man.com/rando-velo/france-portugal.html" />
    <link rel="alternate" hreflang="de" href="https://www.cycle-man.com/fahrradroute.html" />
    {% else if page.title == 'En vélo de Berlin à Copenhague en 4 jours' %}
    <link rel="alternate" hreflang="fr" href="https://www.cycle-man.com/rando-velo/berlin-copenhague.html" />
    <link rel="alternate" hreflang="de" href="https://www.cycle-man.com/blog/mit-dem-fahrrad-nach-kopenhagen.html" />
    {% endif %}

     </head>

<body>


  {% include share-bar.html %}

    
      {{ content }}

<div id="spacer">
</div>

<div class="container">
  <div id="footer">
  <div class="row">
    <div class="col-md-12">
       <a href="/a-propos.html" rel="nofollow">À propos</a> | <a href="/protection-des-donnees.html" rel="nofollow">Protection des données</a> | <a href="mailto:contact@berlin-lisbon-express">Contact</a>
    </div>
    </div>
  </div>
  </div> 

  <div id="spacer">
 {% include cookie-consent.html %}
</body>
</html>
