<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}" />

   
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/CSS/index.css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>


    {% if page.category == 'route' %}
     <link rel="alternate" hreflang="en" href="/bike-tours/cycling-across-europe.html" /> 
    <link rel="alternate" hreflang="fr" href="/rando-velo/allemagne-portugal.html" />
    <link rel="alternate" hreflang="de" href="/fahrradroute.html" />
    
    {% endif %}
 
    
     </head>

<body>


{% include navi-de.html %}


    <script>
      $("nav.navbar-fixed-top").autoHidingNavbar();
    </script>

    
      {{ content }}

<div id="spacer">
  </div>

<div class="container blog">
    <div class="row">
    <div class="col-md-12">
       <a href="https://www.instagram.com/berlinlisbonexpress/" target="_blank" rel="nofollow">
           <img src="/Images/logo-insta.png" style="max-width:40px"></a>
        |<a href="/about-this-blog.html" rel="nofollow"> About this blog</a>
    </div>
    </div>

    <div id="spacer"></div>
  </div>
</div>
{% include cookie-consent.html %}
</body>
</html>