<!DOCTYPE html>
<html lang="en">
<head>
    
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}" />

    <!-- CSS Sources -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Core CSS file -->
    <link rel="stylesheet" href="/CSS/index-new.css">

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite, 
         - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="/CSS/default-skin/default-skin.css"> 
    

  <!-- JS Sources -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
    

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>


    {% if page.category == 'route' %}
     <link rel="alternate" hreflang="en" href="/bike-tours/cycling-across-europe.html" /> 
    <link rel="alternate" hreflang="fr" href="/rando-velo/allemagne-portugal.html" />
    <link rel="alternate" hreflang="de" href="/fahrradroute.html" />
    
    {% endif %}
    
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9PKXT8');</script>
<!-- End Google Tag Manager -->
   
   
    
    
     </head>

<body>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9PKXT8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    



<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <img src="/Images/mano.png" width="30" height="30" class="d-inline-block align-top" alt="">
    berlin-lisbon-express
  </a>
</nav>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

    <script src="/src/jquery.bootstrap-autohidingnavbar.js"></script>

    <script>
      $("nav.navbar-fixed-top").autoHidingNavbar();
    </script>

    
      {{ content }}

<div id="spacertop">
  </div>
    
      {% if page.comments %}

     <div class="container blog">
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'berlin-lisbon-express'; // required: replace example with your forum shortname
        // var disqus_developer = 1; // Comment out when the site is live
        var disqus_identifier = "{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
  {% endif %}
    
    <div id="spacer">

  </div>
    
<div class="container">
  <div id="footer">
  <div class="row">
    <div class="col-mdx -12">
      <ul class="list-footer">
        <li id="title"><a href="/about-berlin-lisbon-express.html">About this website</a></li>
      </ul>
    </div>
    <div class="col-md-12">
       <ul class="list-footer">
        <li id="title"><a href="/thankyou.html">Thank you</a></li>
      </ul>
    </div>
    <div class="col-md-12">
       <ul class="list-footer">
        <li id="title"><a href="mailto:contact@berlin-lisbon-express.eu" target="_blank">Contact me</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div> 
</body>
</html>
