<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>
    <meta name="description" content="{{page.description}}" />
    
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9PKXT8');</script>
<!-- End Google Tag Manager -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/CSS/index.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>
    

    {% if page.category == 'route' %}
     <link rel="alternate" hreflang="en" href="/bike-tours/cycling-across-europe.html" /> 
    <link rel="alternate" hreflang="fr" href="/itineraire-velo/allemagne-portugal.html" />
    <link rel="alternate" hreflang="de" href="/fahrradroute.html" />
    
    {% endif %}
 
    
     </head>

<body>
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9PKXT8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    

    
      <ul class="nav navbar-nav">
        <li><a href="/blog/de/"><strong>Blog</strong></a></li>
        <li><a href="/fahrradroute.html">Fahrradroute</a></li>
        <li><a href="/setup.html">Set-up</a></li>
       </ul>
        
       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
    <script src="/src/jquery.bootstrap-autohidingnavbar.js"></script>

    <script>
      $("nav.navbar-fixed-top").autoHidingNavbar();
    </script>
 
    
<div id="spacer">
  </div>
    
      {{ content }}

<div id="spacertop">
  </div>

   {% if page.comments %}

     <div class="container blog">
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'berlin-lisbon-express'; // required: replace example with your forum shortname
        // var disqus_developer = 1; // Comment out when the site is live
        var disqus_identifier = "{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
          {% endif %}

          <div id="spacer">
  </div>
    
 <div class="container">
  <div id="footer">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-footer">
        <li id="title"><a href="/about-berlin-lisbon-express.html">Impressum</a></li>
      </ul>
    </div>
    <div class="col-xs-12">
       <ul class="list-footer">
        <li id="title"><a href="/thankyou.html">Danke</a></li>
      </ul>
    </div>
    <div class="col-xs-12">
       <ul class="list-footer">
        <li><a href="/aboutme.html">Über mich</a></li>
      </ul>
    </div>
    <div class="col-xs-12">
       <ul class="list-footer">
        <li id="title"><a href="mailto:contact@berlin-lisbon-express.eu" target="_blank">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div> 
    <div id="spacer">
    </div>
</body>
</html>
